.quality-section{
    position: relative;
    width: 100%;
    margin: 0;
    margin-bottom: 165px;
    padding-top: 100px;
    padding-left: 85px;
    padding-bottom: 180px;
    background-color: #2c343e;
    background-image: url("");
    border-radius: 10px;

}
.quality__heading{
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    font-family: Fraunces 9pt;
    color: #FEFCF7;

}
.quality__paragraf{
    max-width: 540px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    font-family: Barlow;
    color:  #FEFCF7;
    opacity: 0.8;

}
.quality__img{
    position: absolute;
    right: 85px;
    bottom: 85px;
    border-radius: 10px;
    width:500px;
    height:510px;
}



@media only screen and (max-width:768px){
    .quality-section{
        margin: 0;
        margin-bottom: 144px;
        padding: 0;
        padding-top: 224px;
        padding-bottom: 67px;
    }

    .quality__heading{
    
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 24px;
        padding: 0;

    }
    .quality__paragraf{
        max-width: 540px;
        width: 100%;
        margin: 0 auto;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
    }

    .quality__img{
        bottom: 328px;
        right: 50%;
        transform: translateX(50%);
        width: 573px;
        border-radius: 8px;
        height: 320px;
     

    }

}

@media only screen and (max-width:425px){
    .quality-section{
        padding-top: 142px;
        padding-bottom: 60px;
    }

    .quality__heading{
        font-size: 28px;
        line-height: 28px;
        text-align: center;
    }
    .quality__paragraf{
        max-width: 280px;
        font-size: 15px;
        line-height: 25px;
    }

    .quality__img{
        width: 279px;
        border-radius: 8px;
        height: 156px;
        bottom: 415px;
    }

}