.our-commitment{
    display: flex;
    padding-left: 85px;
    margin-bottom: 158px;
}
.pictures{
    width: 485;
    height: 606px;
    margin-right: 125px;
}
.our-commitment-right{
    padding-top: 90px;
}
.commitment__heading{
    margin: 0;
    margin-bottom: 32px;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
    font-family: Fraunces 9pt;
    color: #333D4B;

}
.commitment__paragraf{
    max-width: 540px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    font-family: Barlow;
    color: #333D4B;


}