.button {
	display: inline-block;
	width: 217px;
	padding: 15px;
	font-weight: 900;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	color: #fefcf7;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #0e8784;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.button:hover {
	background-color: #66d2cf;
}

.button:disabled {
	background-color: #e2dedb;
}


@media only screen and (max-width:425px){
	.button{
		display: block;
		text-align: center;
	}
	
	
}