.footer__inner {
	display: flex;
	align-items: center;
	padding: 47px 20px;
	background-color: #2c343e;
}

.footer .logo-link {
	margin-right: 103px;
}

.footer .nav__link:hover {
	color: #fefcf7;
}

.socials {
	display: flex;
	align-items: center;
	margin: 0;
	margin-left: auto;
	padding: 0;
	list-style-type: none;
}

.socials__item + .socials__item {
	margin-left: 24px;
}

.socials__link {
	text-decoration: none;
	margin: 0;
	padding: 0;
}



@media only screen and (max-width:768px){
	.footer__inner{
		flex-direction: column;
		align-items: center;
		padding-top: 54px;
		padding-bottom: 54px;
	}
	.footer .logo-link {
		margin-right: 0;
		margin-bottom: 35px;

	}

	.footer__nav{
		margin-bottom: 65px;
		display: flex;
		flex-direction: column;
	}
	.socials {
	 margin: 0 auto;
	}
}

@media only screen and (max-width:425){
	
	.footer__nav__list{
		display: flex;
        flex-direction: column;
        margin-top: 50px;
	}
	
}