.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 44px 20px;
	
}

.header__menu__button{
	border: none;
	display: none;
	margin: 0;
	padding: 0;																																										
}

@media only screen and (max-width:768px){
	
	.header__menu__button{
		display: block;
		z-index: 101;
	}

	
	.header__menu__button span:nth-child(2){
        display: none;
    }
    
    .header--active span:nth-child(1){
        display: none;
    }
    
    .header--active span:nth-child(2){
        display: block;
    }

    .nav{
        display: none;
    }

    .header--active .nav{
        position: absolute;
        margin-top: 130px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 100;
        display: block;
        background-image: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
    }

    .header--active .nav__list{
        display: flex;
        flex-direction: column;
        margin-top: 32px;
    }

    .header--active .nav__item + .nav__item{
        margin-left: 0;
        margin-top: 20px;
    }


}
