.steps-inner{

    padding-left: 85px;
	padding-bottom:200px;
}
.steps__heading{
    margin-bottom: 80px;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    font-family: Fraunces 9pt;
    color: #83888F;
}
.steps {
	position: relative;
	display: flex;
	width: 100%;
    margin: 0;
    padding: 0;
	padding-bottom: 64px;
	list-style-type: none;
}

.steps::before {
	position: absolute;
	top: 15.5px;
	display: block;
	max-width: 763px;
    width: 100%;
	height: 2px;
	background-color: #fdd6ba;
	content: '';
}

.step {
	max-width: 285px;
    width: 100%;
	padding-top: 100px;
}

.step::before {
	position: absolute;
	z-index: 1;
	top: 0;
	display: inline-block;
	max-width: 27px;
    width: 100%;
	height: 27px;
	background: #fefcf7;
	border: 2px solid #0e8784;
	border-radius: 50%;
	content: '';
}

.step + .step {
	margin-left: 95px;
}

.step__heading {
    max-width: 255px;
	display: flex;
	flex-direction: column;
	margin-bottom: 42px;
}

.step__heading__count {
	margin-bottom: 38px;
	font-weight: 900;
	font-size: 72px;
	line-height: 72px;
	color: #fdd6ba;
}

.step__heading__text {
    max-width: 285px;
	font-weight: 900;
	font-size: 32px;
	line-height: 36px;
	color: #333d4b;
}

.step__text{
	max-width: 285px;
	width: 100%;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0px;
	text-align: left;
	font-family: Barlow;

}
@media only screen and (max-width:768px){
	.steps-inner{
		margin: 0;
		padding-left: 0;
		padding-bottom: 144px;
	}

	.steps{
		margin: 0;
		padding: 0;
		max-width:  700px; 
		width: 100%;
		padding-bottom: 44px;

	}
	.steps::before{
		max-width: 490px;
		width: 100%;

	}
	.steps__heading{
		margin: 0;
		margin-bottom: 80px;
	}
	.step{
		margin: 0;
		padding: 0;
		padding-top: 80px;
	}
	.step__heading{
		margin: 0;
	
		margin-bottom: 38px;
	}
	.step__heading__count{
		margin-bottom: 42px;
	}
	.step__heading__text {
		max-width: 233px;
		width: 100%;
		font-size: 28px;
		line-height: 32px;
	}
	.step__text{
		max-width: 223px;
		width: 100%;
		margin: 0;
		margin-left: 0;
		padding: 0;
	}
	.step + .step {
		margin-left: 10px;
	}
}


@media only screen and (max-width:425px){
	.steps-inner{
		padding-bottom: 120px;
	}
	.steps__heading{
		text-align: center;
	}
	.steps{
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
		padding-bottom: 24px;
	}
	.steps::before {
		display: none;
	}
	.step{

		padding-top: 0;
		padding-bottom: 56px;
	}
	.step + .step {
		margin-left: 0;
	}

	.step::before {
		display: none;
	}
	.step__heading{
		text-align: center;
		margin: 0 auto;
		margin-bottom: 24px;
	}
	.step__heading__text{
		max-width: 327px;
	}
	.step__text{
		margin: 0 auto;
	}
	.step__text{
		max-width: 327px;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 0px;
		text-align: center;
		font-family: Barlow;

	}
}